/**
 * Black theme for reveal.js. This is the opposite of the 'white' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/source-sans-pro/source-sans-pro.css);
@font-face {
  font-family: 'BentonSans';
  src: url("../fonts/BentonSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: 'BentonSansBold';
  src: url("../fonts/BentonSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'BentonSansMedium';
  src: url("../fonts/BentonSans-Medium.ttf") format("truetype"); }

@font-face {
  font-family: 'BentonSansBookItalic';
  src: url("../fonts/BentonSans-BookItalic.ttf") format("truetype"); }

section.has-light-background, section.has-light-background h1, section.has-light-background h2, section.has-light-background h3, section.has-light-background h4, section.has-light-background h5, section.has-light-background h6 {
  color: #222; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #222;
  background: #222; }

.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 42px;
  font-weight: normal;
  color: #fff; }

::selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #bee4fd;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
  margin-top: 30px !important; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #fff;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: uppercase;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em;
  color: #000000; }

.reveal h3 {
  font-size: 1.3em;
  font-family: 'BentonSansMedium', sans-serif; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }

.reveal p {
  color: #000000; }
  .reveal p span {
    display: inline-block;
    padding: 0 5%; }

/*********************************************
 * COLOUR OVERRIDES
 *********************************************/
.reveal .dark h2, .reveal .dark p {
  color: #ffffff; }

.reveal .yellow h2, .reveal .yellow p, .reveal .yellow ul, .reveal .yellow li, .reveal .yellow a {
  color: #000000; }

.reveal .yellow .tick {
  min-height: 100px;
  text-align: center;
  max-width: 650px; }
  .reveal .yellow .tick li {
    width: auto;
    display: inline-block; }
    .reveal .yellow .tick li:before {
      background-image: url("../../img/black-tick.svg"); }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

.reveal .tick {
  padding-left: 20px;
  list-style-type: none; }
  .reveal .tick li {
    padding-left: 30px;
    position: relative; }
    .reveal .tick li:before {
      content: "";
      width: 10px;
      height: 10px;
      background: url("../../img/tick.svg") no-repeat center;
      background-size: contain;
      display: block;
      position: absolute;
      left: 10px;
      top: 5px; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #42affa;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #8dcffc;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #068de9; }

.reveal .button {
  background: #000000;
  color: #F0AB00;
  padding: 2% 4%;
  font-size: 1.1em;
  font-family: 'BentonSansMedium', sans-serif;
  transition: all ease .5s; }
  .reveal .button:hover {
    color: #ffbd18;
    background: #222222; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: none;
  border: none;
  box-shadow: none; }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #42affa; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #42affa; }

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
  border-bottom-color: #42affa; }

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
  border-top-color: #42affa; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #8dcffc; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #8dcffc; }

.reveal .controls .navigate-up.enabled:hover {
  border-bottom-color: #8dcffc; }

.reveal .controls .navigate-down.enabled:hover {
  border-top-color: #8dcffc; }

.reveal #spots {
  width: 90%;
  height: 15px;
  display: block;
  margin: auto;
  text-align: center;
  float: left; }
  .reveal #spots .spot {
    display: inline-block;
    background: #fff;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    border-radius: 100%;
    opacity: 0.5;
    transition: all 0.5s ease;
    margin: 1px; }
    .reveal #spots .spot:hover {
      opacity: 0.8; }
    .reveal #spots .spot:before, .reveal #spots .spot:after {
      display: none; }
    .reveal #spots .spot.current {
      opacity: 1; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #42affa;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * LAYOUT
 *********************************************/
.reveal div[class^="wrapper-"] {
  float: left; }

.reveal .wrapper-25 {
  width: 25%; }

.reveal .wrapper-33 {
  width: 33%; }

.reveal .wrapper-50 {
  width: 50%; }

.reveal .wrapper-75 {
  width: 75%; }

.reveal .wrapper-100 {
  width: 100%; }

/*********************************************
 * HOME
 *********************************************/
.reveal .present .cards:first-child .card-wrapper:nth-child(1) {
  animation-delay: .5s; }

.reveal .present .cards:first-child .card-wrapper:nth-child(2) {
  animation-delay: 1s; }

.reveal .present .cards:first-child .card-wrapper:nth-child(3) {
  animation-delay: 1.5s; }

.reveal .present .cards.second .card-wrapper:nth-child(1) {
  animation-delay: 2s; }

.reveal .present .cards.second .card-wrapper:nth-child(2) {
  animation-delay: 2.5s; }

.reveal .present .cards.second .card-wrapper:nth-child(3) {
  animation-delay: 3s; }

.reveal .present .card-wrapper {
  -webkit-animation: fadein 2s linear forwards;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s linear forwards;
  /* Firefox < 16 */
  -ms-animation: fadein 2s linear forwards;
  /* Internet Explorer */
  -o-animation: fadein 2s linear forwards;
  /* Opera < 12.1 */
  animation: fadein 2s linear forwards; }

.reveal .present .graph .wifi {
  -webkit-animation: fadein 1s linear forwards;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s linear forwards;
  /* Firefox < 16 */
  -ms-animation: fadein 1s linear forwards;
  /* Internet Explorer */
  -o-animation: fadein 1s linear forwards;
  /* Opera < 12.1 */
  animation: fadein 1s linear forwards; }
  .reveal .present .graph .wifi.first {
    animation-delay: 1s; }
  .reveal .present .graph .wifi.second {
    animation-delay: 1.5s; }
  .reveal .present .graph .wifi.third {
    animation-delay: 2s; }

.reveal .present .graph .wrapper {
  -webkit-animation: fadein 1s linear forwards;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s linear forwards;
  /* Firefox < 16 */
  -ms-animation: fadein 1s linear forwards;
  /* Internet Explorer */
  -o-animation: fadein 1s linear forwards;
  /* Opera < 12.1 */
  animation: fadein 1s linear forwards; }
  .reveal .present .graph .wrapper:first-child {
    animation-delay: .5s; }
  .reveal .present .graph .wrapper:nth-child(2) {
    width: 32%;
    animation-delay: 1.5s; }
  .reveal .present .graph .wrapper:nth-child(3) {
    width: 32%;
    animation-delay: 2.5s; }
  .reveal .present .graph .wrapper:nth-child(4) {
    width: 32%;
    animation-delay: 3s; }

.reveal .hide {
  display: none; }

.reveal .bg-img-wrapper {
  position: relative; }
  .reveal .bg-img-wrapper .button {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    margin: auto;
    width: 220px;
    height: 60px; }
    .reveal .bg-img-wrapper .button.email {
      width: 260px;
      padding-right: 60px; }
      .reveal .bg-img-wrapper .button.email:before {
        content: "";
        position: absolute;
        background-image: url("../../img/envelope.svg");
        background-repeat: no-repeat;
        background-position: right;
        width: 40px;
        height: 24px;
        right: 20px; }

.reveal .offset-left {
  position: absolute;
  bottom: -150px;
  left: 0;
  width: 200px; }
  .reveal .offset-left img {
    width: 100%; }

.reveal blockquote {
  font-family: 'BentonSansBookItalic', sans-serif;
  background: #000000;
  color: #F0AB00;
  border-radius: 20px;
  position: relative;
  padding: 2%;
  font-size: 1.2em; }
  .reveal blockquote:before {
    content: "";
    background: url("../../img/tail.svg") no-repeat top center;
    height: 220px;
    width: 100px;
    display: block;
    position: absolute;
    left: -20px;
    bottom: -218px;
    background-size: contain; }
  .reveal blockquote p {
    color: #F0AB00; }

.reveal .cite {
  font-size: 0.6em;
  color: #666666; }

.reveal .message3 .wrapper {
  width: 27%;
  float: left; }
  .reveal .message3 .wrapper:nth-child(even) {
    width: 46%; }

.reveal .message4 {
  position: relative; }
  .reveal .message4 img {
    height: 125px; }
  .reveal .message4 h3 {
    color: #fff;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto; }
  .reveal .message4 #arrow-offset-left {
    position: absolute;
    bottom: 200px;
    left: -320px;
    width: 0;
    overflow: hidden;
    height: 14px;
    background: url("../../img/arrow10long.svg") right no-repeat;
    transition: all ease 2s; }
    .reveal .message4 #arrow-offset-left.grow {
      width: 350px; }

.reveal .cards {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.reveal .card-wrapper {
  -webkit-perspective: 1000px;
  -moz-perspective: 1000px;
  perspective: 1000px;
  position: relative;
  width: 100%;
  margin-bottom: 10px;
  cursor: pointer;
  opacity: 0; }
  .reveal .card-wrapper:hover .card {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .reveal .card-wrapper:hover .draw {
    visibility: visible;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 5s linear forwards; }

@keyframes dash {
  from {
    stroke-dashoffset: -1000; }
  to {
    stroke-dashoffset: 0; } }

.reveal .card {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  transition: all 400ms linear;
  height: 100%;
  width: 100%;
  height: 160px; }
  .reveal .card p {
    margin: auto;
    font-size: 0.7em;
    color: #ffffff; }
  .reveal .card .front {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #fff;
    height: 160px;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }
    .reveal .card .front * {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto; }
  .reveal .card .back {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: #0f46a7;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
    padding: 10%;
    text-align: center;
    height: 160px;
    display: flex;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden; }

.reveal .line-wrapper {
  position: absolute;
  visibility: hidden; }

.reveal #line1 {
  right: -23px;
  top: 55%; }

.reveal #line2 {
  right: -102px;
  top: 47%; }

.reveal #line3 {
  right: -164px;
  top: -42px; }

.reveal #line4 {
  left: -23px;
  top: 55%; }

.reveal #line5 {
  left: -93px;
  top: 47%; }

.reveal #line6 {
  left: -164px;
  top: -42px; }

.reveal .graph {
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
  position: relative; }
  .reveal .graph h4 {
    padding-bottom: 0;
    margin-bottom: 0;
    color: #fff;
    font-size: 0.8em; }
  .reveal .graph .wrapper {
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    opacity: 0; }
  .reveal .graph .node {
    margin-bottom: 10px;
    position: relative;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%; }
    .reveal .graph .node img {
      width: 100%;
      height: 100%;
      max-height: 140px;
      max-width: 90px;
      margin: 0 0 6px 0; }
      .reveal .graph .node img.wide {
        max-width: 150px; }
      .reveal .graph .node img.small {
        max-width: 50px; }
    .reveal .graph .node .wifi {
      display: flex;
      align-self: center;
      max-width: 20px;
      max-height: 20px;
      opacity: 0; }
    .reveal .graph .node .draw {
      stroke-dasharray: 50;
      stroke-dashoffset: 50;
      animation: dash 5s linear forwards; }

@keyframes dash {
  from {
    stroke-dashoffset: 0; }
  to {
    stroke-dashoffset: 1000; } }
  .reveal .graph h4.front {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    height: 30px;
    color: #000000;
    max-width: 75px; }
  .reveal .graph .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex: 1;
    align-items: center;
    justify-content: center; }
    .reveal .graph .row img {
      max-width: 50px; }
    .reveal .graph .row .node {
      width: 50%; }
  .reveal .graph .arrow-wrapper {
    position: absolute;
    display: block; }
  .reveal .graph #arrow1 {
    right: -20px;
    bottom: -30px; }
  .reveal .graph #arrow2 {
    right: -20px;
    top: 50%; }
  .reveal .graph #arrow3 {
    right: -20px;
    bottom: 70px; }
  .reveal .graph #arrow4 {
    right: -40px;
    top: 50%; }
  .reveal .graph #arrow5 {
    bottom: -30px;
    left: 50%; }
  .reveal .graph #arrow6 {
    bottom: -30px;
    left: 10px; }
  .reveal .graph #arrow7 {
    top: -30px;
    right: 20px; }
  .reveal .graph #arrow8 {
    top: -30px;
    right: 50px; }
  .reveal .graph #arrow9 {
    left: -30px; }
  .reveal .graph #arrow10 {
    top: -10px; }
  .reveal .graph #arrow11 {
    top: -20px; }

.reveal #arrow-offset-right {
  position: absolute;
  bottom: 240px;
  right: -320px;
  width: 0;
  height: 1px;
  background: url("../../img/arrow10line.svg") left no-repeat;
  transition: all ease .5s; }
  .reveal #arrow-offset-right.grow {
    width: 350px; }

.reveal .message5 .wrapper-33 {
  text-align: center;
  min-height: 230px; }
  .reveal .message5 .wrapper-33 a {
    margin-top: auto;
    display: block; }

.reveal .flex {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .reveal .flex div {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center; }

.reveal .wifi {
  display: block;
  text-align: center;
  margin: auto; }

/*********************************************
 * FOOTER
 *********************************************/
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2%;
  text-align: right; }

.reveal .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear forwards; }

/*********************************************
 * ANIMATIONS
 *********************************************/
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }

.reveal .present .fadein {
  -webkit-animation: fadein 2s linear forwards;
  /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s linear forwards;
  /* Firefox < 16 */
  -ms-animation: fadein 2s linear forwards;
  /* Internet Explorer */
  -o-animation: fadein 2s linear forwards;
  /* Opera < 12.1 */
  animation: fadein 2s linear forwards; }

@keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
