// Base settings for all themes that can optionally be
// overridden by the super-theme


@font-face {
  font-family: 'BentonSans';
  src: url('../fonts/BentonSans-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'BentonSansBold';
  src: url('../fonts/BentonSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'BentonSansMedium';
  src: url('../fonts/BentonSans-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'BentonSansBookItalic';
  src: url('../fonts/BentonSans-BookItalic.ttf') format('truetype');
}

// Background of the presentation
$backgroundColor: #2b2b2b;

// Primary/body text
$mainFont: 'BentonSans', sans-serif;
$mainFontSize: 40px;
$mainColor: #eee;

// Vertical spacing between blocks of text
$blockMargin: 20px;

// Headings
$headingMargin: 0 0 $blockMargin 0;
$headingFont: 'BentonSansBold', sans-serif;
$headingColor: #eee;
$headingLineHeight: 1.2;
$headingLetterSpacing: normal;
$headingTextTransform: uppercase;
$headingTextShadow: none;
$headingFontWeight: normal;
$heading1TextShadow: $headingTextShadow;
$yellow: #F0AB00;
$yellowHover: #ffbd18;
$darkBlue:#0f46a7;
$grey:#666666;
$heading1Size: 3.77em;
$heading2Size: 2.11em;
$heading3Size: 1.55em;
$heading4Size: 1.00em;

// Links and actions
$linkColor: #13DAEC;
$linkColorHover: lighten( $linkColor, 20% );

// Text selection
$selectionBackgroundColor: #FF5E99;
$selectionColor: #fff;

// Generates the presentation background, can be overridden
// to return a background image or gradient
@mixin bodyBackground() {
	background: $backgroundColor;
}
