// Base theme template for reveal.js

/*********************************************
 * GLOBAL STYLES
 *********************************************/

body {
	@include bodyBackground();
	background: $backgroundColor;
}

.reveal {
	font-family: $mainFont;
	font-size: $mainFontSize;
	font-weight: normal;
	color: $mainColor;
}

::selection {
	color: $selectionColor;
	background: $selectionBackgroundColor;
	text-shadow: none;
}

::-moz-selection {
	color: $selectionColor;
	background: $selectionBackgroundColor;
	text-shadow: none;
}

.reveal .slides>section,
.reveal .slides>section>section {
	line-height: 1.3;
	font-weight: inherit;
	margin-top:30px !important;
}

/*********************************************
 * HEADERS
 *********************************************/

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
	margin: $headingMargin;
	color: $headingColor;

	font-family: $headingFont;
	font-weight: $headingFontWeight;
	line-height: $headingLineHeight;
	letter-spacing: $headingLetterSpacing;

	text-transform: $headingTextTransform;
	text-shadow: $headingTextShadow;

	word-wrap: break-word;
}

.reveal h1 {font-size: $heading1Size; }
.reveal h2 {font-size: $heading2Size;color:#000000; }
.reveal h3 {font-size: $heading3Size;font-family:'BentonSansMedium', sans-serif; }
.reveal h4 {font-size: $heading4Size; }

.reveal h1 {
	text-shadow: $heading1TextShadow;
}

.reveal p {
	color:#000000;
	span {
		display: inline-block;
		padding:0 5%;
	}
}



/*********************************************
 * COLOUR OVERRIDES
 *********************************************/

 .reveal .dark {
 	h2, p {
 		color:#ffffff;
 	}
 }

 .reveal .yellow {
 	h2, p, ul, li, a {
 		color:#000000;
 	}
 	.tick {
		min-height: 100px;
		text-align: center;
		max-width: 650px;
 		li {
 			width: auto;
 			display: inline-block;
 			&:before{
		 		background-image:url('../../img/black-tick.svg');
		 	}
		 }
	 }
 }

/*********************************************
 * OTHER
 *********************************************/

.reveal p {
	margin: $blockMargin 0;
	line-height: 1.3;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
	max-width: 95%;
	max-height: 95%;
}
.reveal strong,
.reveal b {
	font-weight: bold;
}

.reveal em {
	font-style: italic;
}

.reveal ol,
.reveal dl,
.reveal ul {
	display: inline-block;

	text-align: left;
	margin: 0 0 0 1em;
}

.reveal ol {
	list-style-type: decimal;
}

.reveal ul {
	list-style-type: disc;
}

.reveal ul ul {
	list-style-type: square;
}

.reveal ul ul ul {
	list-style-type: circle;
}

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
	display: block;
	margin-left: 40px;
}

.reveal dt {
	font-weight: bold;
}

.reveal dd {
	margin-left: 40px;
}

.reveal q,
.reveal blockquote {
	quotes: none;
}

.reveal blockquote {
	display: block;
	position: relative;
	width: 70%;
	margin: $blockMargin auto;
	padding: 5px;

	font-style: italic;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
}
	.reveal blockquote p:first-child,
	.reveal blockquote p:last-child {
		display: inline-block;
	}

.reveal q {
	font-style: italic;
}

.reveal pre {
	display: block;
	position: relative;
	width: 90%;
	margin: $blockMargin auto;

	text-align: left;
	font-size: 0.55em;
	font-family: monospace;
	line-height: 1.2em;

	word-wrap: break-word;

	box-shadow: 0px 0px 6px rgba(0,0,0,0.3);
}
.reveal code {
	font-family: monospace;
}

.reveal pre code {
	display: block;
	padding: 5px;
	overflow: auto;
	max-height: 400px;
	word-wrap: normal;
}

.reveal table {
	margin: auto;
	border-collapse: collapse;
	border-spacing: 0;
}

.reveal table th {
	font-weight: bold;
}

.reveal table th,
.reveal table td {
	text-align: left;
	padding: 0.2em 0.5em 0.2em 0.5em;
	border-bottom: 1px solid;
}

.reveal table th[align="center"],
.reveal table td[align="center"] {
	text-align: center;
}

.reveal table th[align="right"],
.reveal table td[align="right"] {
	text-align: right;
}

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
	border-bottom: none;
}

.reveal sup {
	vertical-align: super;
}
.reveal sub {
	vertical-align: sub;
}

.reveal small {
	display: inline-block;
	font-size: 0.6em;
	line-height: 1.2em;
	vertical-align: top;
}

.reveal small * {
	vertical-align: top;
}

.reveal .tick {
	padding-left:20px;
	list-style-type:none;
	li {
		padding-left:30px;
		position:relative;
		&:before {
			content: "";
			width: 10px;
			height: 10px;
			background: url('../../img/tick.svg') no-repeat center;
			background-size:contain;
			display: block;
			position:absolute;
			left: 10px;
			top:5px;
		}
	}
}

/*********************************************
 * LINKS
 *********************************************/

.reveal a {
	color: $linkColor;
	text-decoration: none;

	-webkit-transition: color .15s ease;
	   -moz-transition: color .15s ease;
	        transition: color .15s ease;
}
	.reveal a:hover {
		color: $linkColorHover;
		text-shadow: none;
		border: none;
	}

.reveal .roll span:after {
	color: #fff;
	background: darken( $linkColor, 15% );
}


.reveal .button {
	background:#000000;
	color: $yellow;
	padding:2% 4%;
	font-size:1.1em;
	font-family:'BentonSansMedium', sans-serif;
	transition:all ease .5s;
	&:hover {
		color: $yellowHover;
		background: #222222;
	}
}
/*********************************************
 * IMAGES
 *********************************************/

.reveal section img {
	margin: 15px 0px;
	background: none;
	border: none;
	box-shadow: none;
}

	.reveal section img.plain {
		border: 0;
		box-shadow: none;
	}

	.reveal a img {
		-webkit-transition: all .15s linear;
		   -moz-transition: all .15s linear;
		        transition: all .15s linear;
	}



/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/

.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
	border-right-color: $linkColor;
}

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
	border-left-color: $linkColor;
}

.reveal .controls .navigate-up,
.reveal .controls .navigate-up.enabled {
	border-bottom-color: $linkColor;
}

.reveal .controls .navigate-down,
.reveal .controls .navigate-down.enabled {
	border-top-color: $linkColor;
}

.reveal .controls .navigate-left.enabled:hover {
	border-right-color: $linkColorHover;
}

.reveal .controls .navigate-right.enabled:hover {
	border-left-color: $linkColorHover;
}

.reveal .controls .navigate-up.enabled:hover {
	border-bottom-color: $linkColorHover;
}

.reveal .controls .navigate-down.enabled:hover {
	border-top-color: $linkColorHover;
}

.reveal #spots {
	width:90%;
	height:15px;
	display:block;
	margin:auto;
	text-align:center;
	float:left;
	.spot {
		display: inline-block;
		background: $headingColor;
		width: 10px;
		height:10px;
		text-indent: -9999px;
		border-radius:100%;
		opacity: 0.5;
		transition: all 0.5s ease;
		margin:1px;
		&:hover {
			opacity: 0.8;
		}
		&:before, &:after {
			display: none;
		}
		&.current {
			opacity: 1;
		}
	}
}

/*********************************************
 * PROGRESS BAR
 *********************************************/

.reveal .progress {
	background: rgba(0,0,0,0.2);
}
	.reveal .progress span {
		background: $linkColor;

		-webkit-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		   -moz-transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
		        transition: width 800ms cubic-bezier(0.260, 0.860, 0.440, 0.985);
	}

/*********************************************
 * LAYOUT
 *********************************************/	
.reveal {
	div[class^="wrapper-"] {
		float: left;
	}
	.wrapper-25 {
		width: 25%;
	}
	.wrapper-33 {
		width: 33%;
	}
	.wrapper-50 {
		width: 50%;
	}
	.wrapper-75 {
		width: 75%;
	}
	.wrapper-100 {
		width: 100%;
	}
}
/*********************************************
 * HOME
 *********************************************/
.reveal {

	.present {
		.cards {
			&:first-child .card-wrapper{
				&:nth-child(1) {
				animation-delay: .5s;
				}
				&:nth-child(2) {
					animation-delay: 1s;
				}
				&:nth-child(3) {
					animation-delay: 1.5s;
				}
			}
			&.second .card-wrapper {
				&:nth-child(1) {
				animation-delay: 2s;
				}
				&:nth-child(2) {
					animation-delay: 2.5s;
				}
				&:nth-child(3) {
					animation-delay: 3s;
				}
			}
		}
		.card-wrapper {
			  -webkit-animation: fadein 2s linear forwards; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 2s linear forwards; /* Firefox < 16 */
	        -ms-animation: fadein 2s linear forwards; /* Internet Explorer */
	         -o-animation: fadein 2s linear forwards; /* Opera < 12.1 */
	            animation: fadein 2s linear forwards;
	    }
	    .graph .wifi {
			 -webkit-animation: fadein 1s linear forwards; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 1s linear forwards; /* Firefox < 16 */
	        -ms-animation: fadein 1s linear forwards; /* Internet Explorer */
	         -o-animation: fadein 1s linear forwards; /* Opera < 12.1 */
	            animation: fadein 1s linear forwards;

	        &.first {
				animation-delay:1s;
	        }

	        &.second {
	        	animation-delay:1.5s;
	        }

	        &.third {
	        	animation-delay:2s;
	        }
		}

		.graph .wrapper {
			 -webkit-animation: fadein 1s linear forwards; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 1s linear forwards; /* Firefox < 16 */
	        -ms-animation: fadein 1s linear forwards; /* Internet Explorer */
	         -o-animation: fadein 1s linear forwards; /* Opera < 12.1 */
	            animation: fadein 1s linear forwards;
	            &:first-child {
	            	animation-delay:.5s
	            }
	            &:nth-child(2) {
					width: 32%;
					animation-delay:1.5s
				}
				&:nth-child(3) {
					width: 32%;
					animation-delay:2.5s
				}
				&:nth-child(4) {
					width: 32%;
					animation-delay:3s
				}
		}
	}
	.hide {
		display: none;
	}
	.bg-img-wrapper {
		position:relative;
		.button {
			position:absolute;
			top:0;
			left: 0;
			bottom: 0;
			right: 0;
			text-align: center;
			margin: auto;
			width: 220px;
			height: 60px;

			&.email {
				width: 260px;
				padding-right: 60px;

				&:before {
					content: "";
					position:absolute;
					background-image: url('../../img/envelope.svg');
					background-repeat:no-repeat;
					background-position: right; 
					width: 40px;
				    height: 24px;
				    right: 20px;
				}
			}
		}
	}

	.offset-left {
		position:absolute;
		bottom:-150px;
		left:0;
		width:200px;
		img {
			width: 100%;
		}
	}

	blockquote {
		font-family: 'BentonSansBookItalic', sans-serif;
		background:#000000;
		color:$yellow;
		border-radius:20px;
		position:relative;
		padding:2%;
		font-size: 1.2em;
		&:before {
			content:"";
			background:url('../../img/tail.svg') no-repeat top center;
			height: 220px;
			width: 100px;
		    display: block;
		    position: absolute;
		    left:-20px;
		    bottom:-218px;
		    background-size:contain;
		}
		p {
			color:$yellow;
		}
	}
	.cite {
		font-size:0.6em;
		color:$grey;
	}

	.message3 {
		.wrapper {
			width: 27%;
			float: left;
			&:nth-child(even) {
				width: 46%;
			}
		}
	}

	.message4 {
		position:relative;
		img {
			height:125px;
		}

		h3 {
			color:$headingColor;
			max-width: 200px;
    		margin-left: auto;
    		margin-right: auto;
		}
		#arrow-offset-left {
			position: absolute;
			bottom:200px;
			left:-320px;
			width: 0;
			overflow: hidden;
			height:14px;
			background: url('../../img/arrow10long.svg') right no-repeat;
			transition: all ease 2s;
			&.grow {
				width: 350px;
			}
		}
	}
	.cards {
		list-style-type:none;
		padding:0;
		margin: 0;
	}
	.card-wrapper {
	    -webkit-perspective: 1000px;
	    -moz-perspective: 1000px;
	    perspective: 1000px;
	    position: relative;
		width:100%;
		margin-bottom: 10px;
		cursor:pointer;
		opacity: 0;

		&:hover .card {
		    -webkit-transform: rotateY(180deg);
		    -moz-transform: rotateY(180deg);
		    transform: rotateY(180deg);
		}

		&:hover .draw {
			visibility: visible;
		 	stroke-dasharray: 1000;
		  	stroke-dashoffset: 1000;
		  	animation: dash 5s linear forwards;
		}

		@keyframes dash {
		 from {
		    stroke-dashoffset: -1000;
		  }

		  to {
		  	stroke-dashoffset: 0;
		  }
		}

	}

	.card {
		-webkit-transform-style: preserve-3d;
	    -moz-transform-style: preserve-3d;
	    transform-style: preserve-3d;
	    -webkit-transition: all 400ms linear;
	    -moz-transition: all 400ms linear;
	    transition: all 400ms linear;
	    height: 100%;
	    width: 100%;
		height: 160px;
	    p {
	    	margin:auto;
	    	font-size: 0.7em;
	    	color:#ffffff;
	    }
		.front {
			width: 100%;
			position: absolute;
			top:0;
			left: 0;
			right: 0;
			bottom:0;
			margin:auto;
			background-color: $mainColor;
		    height: 160px;
		    -webkit-backface-visibility: hidden;
		    -moz-backface-visibility: hidden;
		    backface-visibility: hidden;

			* {
				position: absolute;
				top:0;
				left: 0;
				right: 0;
				bottom:0;
				margin:auto;

			}
		}
		.back {
			width: 100%;
			top:0;
			left: 0;
			right: 0;
			bottom:0;
			margin:auto;
			background-color:$darkBlue;
			-webkit-transform: rotateY(180deg);
		    -moz-transform: rotateY(180deg);
		    transform: rotateY(180deg);
		    padding:10%;
		    text-align: center;
		    height: 160px;
		    display: flex;
		    -webkit-backface-visibility: hidden;
		    -moz-backface-visibility: hidden;
		    backface-visibility: hidden;
		}
	}
	.line-wrapper {
		position: absolute;
		visibility: hidden;
	}

	#line1 {
		right: -23px;
   		top: 55%;
	}

	#line2 {
		right: -102px;
    	top: 47%;
	}
	#line3 {
		right: -164px;
    	top: -42px;
	}

	#line4 {
		left: -23px;
   		top: 55%;
	}

	#line5 {
		left: -93px;
    	top: 47%;
	}

	#line6 {
		left: -164px;
    	top: -42px;
	}
	.graph {
		display: -ms-flex;
		display: -webkit-flex;
		display: flex;
		position:relative;
		h4 {
			padding-bottom:0;
			margin-bottom: 0;
			color:$headingColor;
			font-size: 0.8em;
		}
		.wrapper {
			width: 22%;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			flex:1;
			opacity: 0;
		}
		.node {
			margin-bottom: 10px;
			position: relative;
			min-height: 150px;
			display: flex;
    		flex-direction: column;
    		align-items: center;
    		justify-content: center;
    		width: 100%;
			img {
				width: 100%;
				height: 100%;
				max-height: 140px;
				max-width: 90px;
				margin:0 0 6px 0;

				&.wide {
					max-width: 150px;
				}

				&.small {
					max-width: 50px;
				}
			}
			.wifi {
				display: flex;
				align-self:center;
				max-width: 20px;
				max-height: 20px;
				opacity: 0;
			}
			.draw {
			 	 stroke-dasharray: 50;
				  stroke-dashoffset: 50;
				  animation: dash 5s linear forwards;
			}

			@keyframes dash {
			 from {
			    stroke-dashoffset:0;
			  }
			  to {
			    stroke-dashoffset: 1000;
			  }
		}
}
		h4.front {
			position: absolute;
			top:0;
			bottom:0;
			left: 0;
			right: 0;
			margin:auto;
			z-index: 10;
			height:30px;
			color:#000000;
			max-width: 75px;
		}
		.row {
			display: flex;
			flex-direction: row;
			width: 100%;
			flex:1;
			align-items: center;
			justify-content: center;
			img {
				max-width:50px;
			}

			.node {
				width: 50%;
			}
		}
		.arrow-wrapper {
			position: absolute;
			display: block;
		}
		#arrow1 {
			right: -20px;
   			bottom: -30px;
		}

		#arrow2 {
			right: -20px;
   			top: 50%;
		}

		#arrow3 {
			right: -20px;
   			bottom: 70px;
		}
		#arrow4 {
			right: -40px;
   			top: 50%;
		}

		#arrow5 {
			bottom:-30px;
			left:50%;
		}

		#arrow6 {
			bottom:-30px;
			left:10px;
		}

		#arrow7 {
			top:-30px;
			right:20px;
		}

		#arrow8 {
			top:-30px;
			right:50px;
		}
		#arrow9 {
			left: -30px;
		}
		#arrow10 {
			top: -10px;
		}
		#arrow11 {
			top: -20px;
		}
	}
	#arrow-offset-right {
		position: absolute;
		bottom:240px;
		right:-320px;
		width: 0;
		height:1px;
		background: url('../../img/arrow10line.svg') left no-repeat;
		transition: all ease .5s;
		&.grow {
			width: 350px;
		}
	}

	.message5  {

		.wrapper-33 {
			text-align: center;
			min-height: 230px;
			a {
				margin-top: auto;
				display: block;
				
			}
		}
	}

	.flex {
		display: -webkit-flex;
	    display: -ms-flexbox;
	    display: flex;
	 
	    -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    div {
	        display: -webkit-flex;
	        display: -ms-flexbox;
	        display: flex;
	        align-items: center;
			justify-content: center;
	    }
	}
	.wifi {
		display: block;
		text-align: center;
		margin:auto;
	}
}

/*********************************************
 * FOOTER
 *********************************************/

footer {
	width: 100%;
	position: absolute;
	bottom:0;
	left:0;
	right:0;
	padding:2%;
	text-align:right;
}

.reveal .path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 10s linear forwards;
}

/*********************************************
 * ANIMATIONS
 *********************************************/

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}


.reveal .present .fadein {
	  -webkit-animation: fadein 2s linear forwards; /* Safari, Chrome and Opera > 12.1 */
	       -moz-animation: fadein 2s linear forwards; /* Firefox < 16 */
	        -ms-animation: fadein 2s linear forwards; /* Internet Explorer */
	         -o-animation: fadein 2s linear forwards; /* Opera < 12.1 */
	            animation: fadein 2s linear forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}